/* MeyerWeb CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Custom CSS */

.name {
	color: white;
	font-size: 8vw;
	font-family: 'Work Sans', thin;
	margin: 50px;
	max-width: 80%;
}

header {
	background-color: black;
	width: 100%;	
	display: flex;
	justify-content: center;
}

.main-nav {
	width: 100%;
	height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	background: black;
	position: sticky;
	top: 0px;
	border-bottom-left-radius: 2%;
	border-bottom-right-radius: 2%;
	font-family: 'Work Sans', thin;
}

.main-nav > ul {
	display: flex;
max-width: 750px;
padding-left: 25px;
padding-right: 25px;
margin: auto;
justify-content: space-between;
}

.main-nav-link {
	padding-right: 20px;
	display: flex;
	align-items: center;
}

.my-work {
	flex-grow: 1;
	padding-left: 15px;
	}

.main-nav-link span{
	color: white;
}

.main-nav-link a {
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.main-nav-link a:hover {
	border-bottom: 1px solid rgb(203, 203, 203)
}

.logos {
	display: flex;
	align-items: center;
}

.logos a {
	display: inline-block;
	height: 3vw; 
	width: 3vw;
	background-size: 92%;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 5px;
	margin-left: 5px;
}

.logos a:hover {
	border-bottom: none;
}


.logos span {
	font-size: 20px;
	text-decoration: none;
	padding-top: 3px;
}

.linked-in {
background-image: url('./linkedin.png');
}

.github {
	background-image:url('./github.png');
}

.email {
	display: none !important;
	background-image: url('./email.png');
}

.instagram {
	background-image: url('./instagram.png');
}

.logos a:hover{
background-size: 100%;
}

.images {
	margin-top: auto;
	margin-bottom: auto;
	display: inline-block;
}

.profile-picture {
	border-radius: 50%;
	width: 20vw;
	margin-left: 50px;
}


.about > h2 {
	font-size: 30px;
	padding-bottom: 5px;
	border-bottom: .5px solid rgb(184, 184, 184);
}

.about {
	padding-top: 45px;
	font-size: 20px;
	display: block;
	font-family: 'Fanwood Text', serif;
}

.about p{
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
	max-width: 750px;
	margin: auto;
}

.about h1 {
	font-size: 45px;
	text-align: center;
}

.about-end {
	border-bottom: 1px solid grey;
	padding-bottom: 40px;
}

.about-me a:link {
	font-style: italic;
	text-decoration: none;
	color: rgb(24, 177, 0);
}

.about-me a:visited {
	color: rgb(24, 177, 0);
}

.work {
	padding-top: 45px;
	font-family: 'Fanwood Text', serif;
	padding-bottom: 20px;
}

.work h1 {
	font-size: 45px;
	padding-bottom: 20px;
	text-align: center;
}

.work a {
	color: rgb(0, 179, 255)
}


.project p {
	font-size: 20px;
	max-width: 750px;
	margin: auto;
}

.project-description a {
	color: rgb(0, 179, 255);
}

.project a {
	font-size: 20px;
	text-decoration: none;
}

.project-links{
	display: flex;
	max-width: 800px;
	margin: auto;
}

.project li {
font-size: 20px;
display: inline-block;
margin: auto;
padding-bottom: 50px;
padding-top: 5px;
}

.project img {
	width: 100%;
	margin: auto;
	display: block;
}

.monitor {
	display: inline-block;
	max-width: 350px;
margin: auto;
}

.monitor2 {
	display: inline-block;
	max-width: 350px;
	margin: auto;
}

.monitor-anchor {
display: flex;
}

.project-description1 {
	font-size: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
}

.project-description2 {
	font-size: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
}

footer {
	background: black;
	bottom: 0px;
	width: 100%;
	height: 55px;
	color: white;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-family: 'Cinzel', serif;
	font-size: 15px;
}

footer span {
	padding-left: 25px;
	padding-right: 25px;
}

@media only screen and (min-width: 1050px) { 
	.name {
		font-size: 85px;
		margin: 50px;
	}

	.profile-picture {
		width: 210px;
	}

	.logos a {
		display: inline-block;
		max-height: 30px; 
		max-width: 30px;
}

.monitor-anchor {
	display: flex;
	max-width: 800px;
	max-height: 250px;
	margin: auto;
	}

	.projDesc {
		display: flex;
		max-width: 800px;
		margin: auto;
	}

	.project-description1 {
		display: inline-block;
		padding-bottom: 10px;
	}

	.project-description2 {
		display: inline-block;
		padding-bottom: 10px;
	}

}

@media only screen and (max-width: 750px) { 
	.about h1 {
		font-size: 30px;
	}
	.work h1 {
		font-size: 30px;
	}

	.work {
		padding-top: 25px;
	}

	.about {
		padding-top: 25px;
	}

	footer {
		font-size: 10px;
		}

		.main-nav-link a {
			font-size: 15px;
		}
	
		.logos span {
			font-size: 15px;
		}
		.logo-li {
			padding-top: 5px;
			padding-bottom: 5px;
			}

}

@media only screen and (max-width: 550px) { 

	.logos a {
		min-height: 14px; 
		min-width: 14px;
		flex-wrap: wrap;
		padding-bottom:5px;
		padding-top: 5px;
	}

	.logos span {
		flex-wrap: wrap;
	}

	.email {
		display: inline-block !important;
	}

	.logos span {
		display: none;
	}
}

@media only screen and (max-width: 380px) { 
	.main-nav-link a {
		font-size: 10px;
	}

	.logos span {
		font-size: 10px;
	}
}

@media only screen and (max-width: 380px) { 
	.main-nav-link a {
		font-size: 7px;
	}
}