/* MeyerWeb CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Custom CSS */

.name {
	color: white;
	font-size: 8vw;
	font-family: 'Cinzel', serif;
	margin: 50px;
	max-width: 80%;
}

header {
	background-color: black;
	width: 100%;	
	display: flex;
	justify-content: center;
}

.main-nav {
	width: 100%;
	height: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	background: black;
	position: sticky;
	top: 0px;
	border-bottom-left-radius: 5%;
	border-bottom-right-radius: 5%;
	justify-content: center;
	font-family: 'Cinzel', serif;
}

.main-nav-link {
	padding: 0px 20px;
	display: flex;
	align-items: center;

}

.main-nav-link a {
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.main-nav-link a:hover {
	border-bottom: 1px solid rgb(203, 203, 203)
}

.logos {
	display: flex;
}

.logos a {
	display: inline-block;
	height: 4vw; 
	width: 4vw;
	background-size: 92%;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 5px;
	margin-left: 5px;
}

.linked-in {
background-image: url('./linkedin.png');
top: -103px;
}

.github {
	background-image:url('./github.png');
	left: 145px;
	top: -315px;
}

.email {
	background-image: url('./email.png');
	top: -205px;
}

.instagram {
	background-image: url('./instagram.png');
	left: 147px;
	top: -212px;
}

.logos a:hover{
background-size: 100%;
}

.images {
	margin-top: auto;
	margin-bottom: auto;
	display: inline-block;
}

.profile-picture {
	border-radius: 50%;
	width: 20vw;
	margin-left: 50px;
}


.about > h2 {
	font-size: 30px;
	padding-bottom: 5px;
	border-bottom: .5px solid rgb(184, 184, 184);
}

.about {
	padding-top: 45px;
	font-size: 20px;
	display: block;
	font-family: 'Fanwood Text', serif;
}

.about span {
	font-weight: bolder;
}

.about p{
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
	max-width: 750px;
	margin: auto;
}

.about h1 {
	font-size: 45px;
	text-align: center;
}

.about-end {
	border-bottom: 1px solid grey;
	padding-bottom: 40px;
}

.about-me a:link {
	font-style: italic;
	text-decoration: none;
	color: rgb(24, 177, 0);
}

.about-me a:visited {
	color: rgb(24, 177, 0);
}

.work {
	padding-top: 45px;
	font-family: 'Fanwood Text', serif;
	padding-bottom: 20px;
}

.work h1 {
	font-size: 45px;
	padding-bottom: 20px;
	text-align: center;
}

.work a {
	color: rgb(0, 179, 255)
}


.project p {
	font-size: 20px;
	max-width: 750px;
	margin: auto;
}

.project-description a {
	color: rgb(0, 179, 255);
}

.project a {
	font-size: 20px;
	text-decoration: none;
}

.project li {
font-size: 20px;
padding-left: 25px;
padding-right: 25px;
display: block;
margin: auto;
max-width: 750px;
}

.project img {
	max-width: 85%;
	margin: auto;
	display: block;
	padding-left: 25px;
	padding-right: 25px;
}

.monitor-anchor {
	width: 50%;
}

.project-description {
	font-size: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
}

footer {
	background: black;
	bottom: 0px;
	width: 100%;
	height: 55px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Cinzel', serif;
	font-size: 15px;
}

footer span {
	padding-left: 25px;
	padding-right: 25px;
}

@media only screen and (min-width: 1050px) { 
	.name {
		font-size: 85px;
		margin: 50px;
	}

	.profile-picture {
		width: 210px;
	}

	.logos a {
		display: inline-block;
		max-height: 44px; 
		max-width: 44px;
}

}

@media only screen and (max-width: 750px) { 
	.about h1 {
		font-size: 30px;
	}
	.work h1 {
		font-size: 30px;
	}

	.work {
		padding-top: 25px;
		padding-left: 25px;
		padding-right: 25px;
	}

	.about {
		padding-top: 25px;
		padding-left: 25px;
		padding-right: 25px;
	}

	footer {
		font-size: 10px;
		}
	
}

@media only screen and (max-width: 500px) { 
	.main-nav-link a {
		font-size: 15px;
	}

}